<html lang="en" ng-app="App" xmlns:og="http://ogp.me/ns#" prefix="og: http://ogp.me/ns#">

<head>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pledge to act!</title>
  <style type="text/css">
	  md-card {
	  	 padding: 10px 20px 10px;
	  }
	  md-input-container {
		  margin: 0;
	  }
  </style>
</head>

<body layout="row" ng-controller="AppCtrl">
  <div layout="column" class="relative" layout-fill role="main">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Pledge to act!</h3>
      </div>
    </md-toolbar>
    <md-content flex md-scroll-y>
      <div class="inset" hide-sm></div>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-card flex flex-sm="none" flex-xs="none">
          <md-card-content layout="column">
            <h2>What would you like to do?</h2>
            <md-checkbox ng-model="data.childrensClass">Teach a children's class?</md-checkbox>
            <md-checkbox ng-model="data.juniorYouthGroup">Animate a junior youth group?</md-checkbox>
            <md-checkbox ng-model="data.studyCircle">Accompany a group of people through the institute process?</md-checkbox>
            <md-checkbox ng-model="data.devotionalGathering">Host a devotional gathering?</md-checkbox>
            <div layout="row" layout-align="left center">
              <md-checkbox ng-model="data.other">Other:</md-checkbox>
              <md-input-container>
                <input type="text" ng-model="data.otherValue" aria-label="Other action">
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
		<md-card flex flex-sm="none" flex-xs="none">
       	  <md-card-content layout="column">
		  	<h2>Your contact information:</h2>
			<md-input-container>
			  <label>Name</label>
			  <input type="text" ng-model="data.name" required>
			</md-input-container>
			<md-input-container>
			  <label>Email</label>
			  <input type="text" ng-model="data.email">
			</md-input-container>
			<md-input-container>
			  <label>Phone</label>
			  <input type="text" ng-model="data.phone">
			</md-input-container>
          </md-card-content>
		</md-card>
      </div>
      <div layout="row" layout-align="center center">
        <md-button class="md-primary md-raised" ng-click="send()">Send</md-button>
      </div>
      <div>
         <md-card>
          <md-card-content>
            {{ firebase }}
          </md-card-content>
         </md-card>
      </div>
    </md-content>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>

<script src="https://www.gstatic.com/firebasejs/4.4.0/firebase.js"></script>
<script>
  // Initialize Firebase
  var config = {
    apiKey: "AIzaSyAUuXkr3BnF6V1zP87Rq1a22SdGNW41b_4",
    authDomain: "blazing-torch-2612.firebaseapp.com",
    databaseURL: "https://blazing-torch-2612.firebaseio.com",
    projectId: "blazing-torch-2612",
    storageBucket: "blazing-torch-2612.appspot.com",
    messagingSenderId: "788996561408"
  };
  firebase.initializeApp(config);
</script>
<script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>


  <script type="text/javascript">
    var app = angular.module("App", ["ngMaterial", "firebase"]);
    app.controller("AppCtrl", ["$scope", "$firebaseObject", "$firebaseArray", function($scope, $firebaseObject, $firebaseArray) {
		$scope.data = {};
         	$scope.send = function() {
list.$add($scope.data).then(function(ref) {
  var id = ref.key;
  console.log("added record with id " + id);
  list.$indexFor(id); // returns location in the array
});
    	        	console.log($scope.data);
    	        };

var ref = firebase.database().ref();

     var obj = $firebaseObject(ref);

     // to take an action after the data loads, use the $loaded() promise
     obj.$loaded().then(function() {
        console.log("loaded record:", obj.$id, obj.someOtherKeyInData);

       // To iterate the key/value pairs of the object, use angular.forEach()
       angular.forEach(obj, function(value, key) {
          console.log(key, value);
       });
     });

     // To make the data available in the DOM, assign it to $scope
     $scope.firebase = obj;

     // For three-way data bindings, bind it to the scope instead
     //obj.$bindTo($scope, "data");

    var formsRef = ref.child("forms");

var list = $firebaseArray(formsRef);

    }]);
	app.config(function($mdThemingProvider) {
		var color = 'blue';
		$mdThemingProvider.theme('default')
		    .primaryPalette(color)
		    .accentPalette(color);
	});
  </script>

</body>

</html>
