<html lang="en" ng-app="App">

<head>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pledge to act!</title>
  <style type="text/css">
	  md-card {
	  	 padding: 10px 20px 10px;
	  }
	  md-input-container {
		  margin: 0;
	  }
  </style>
</head>

<body layout="row" ng-controller="AppCtrl">
  <div layout="column" class="relative" layout-fill role="main">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h3>Pledge to act!</h3>
      </div>
    </md-toolbar>
    <md-content flex md-scroll-y>
      <div class="inset" hide-sm></div>
      <div layout="row" layout-sm="column" layout-xs="column">
        <md-card flex flex-sm="none" flex-xs="none">
          <md-card-content layout="column">
            <h2>What would you like to do?</h2>
            <md-checkbox ng-model="data.childrensClass">Teach a children's class?</md-checkbox>
            <md-checkbox ng-model="data.juniorYouthGroup">Animate a junior youth group?</md-checkbox>
            <md-checkbox ng-model="data.studyCircle">Accompany a group of people through the institute process?</md-checkbox>
            <md-checkbox ng-model="data.devotionalGathering">Host a devotional gathering?</md-checkbox>
            <div layout="row" layout-align="left center">
              <md-checkbox ng-model="data.other">Other:</md-checkbox>
              <md-input-container>
                <input type="text" ng-model="data.otherValue" aria-label="Other action">
              </md-input-container>
            </div>
          </md-card-content>
        </md-card>
		<md-card flex flex-sm="none" flex-xs="none">
       	  <md-card-content layout="column">
		  	<h2>Your contact information:</h2>
			<md-input-container>
			  <label>Name</label>
			  <input type="text" ng-model="data.name" required>
			</md-input-container>
			<md-input-container>
			  <label>Email</label>
			  <input type="text" ng-model="data.email">
			</md-input-container>
			<md-input-container>
			  <label>Phone</label>
			  <input type="text" ng-model="data.phone">
			</md-input-container>
          </md-card-content>
		</md-card>
      </div>
      <div layout="row" layout-align="center center">
        <md-button class="md-primary md-raised" ng-click="send()">Send</md-button>
      </div>
    </md-content>
  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
  <script type="text/javascript">
	var services = angular.module("services", []);
    services.service("metaService", function() {
    	this.setOpenGraphMetaTags = function(data) {
			var head = $('head');
    		for(var key in data) {
				var value = data[key];
    			head.append('<meta property="og:'+key+'" content="'+value+'" />');
    		}
    	};
    });
    var app = angular.module("App", ["ngMaterial", "services"]);
    app.controller("AppCtrl", ["$scope", "metaService", function($scope, metaService) {
		$scope.data = {};
    	$scope.send = function() {
    		console.log($scope.data);
    	};
		metaService.setOpenGraphMetaTags({
			title: "Pledge to act!",
			type: "website",
			url: "http://websites.doopr.com/pledge/",
			image: "http://websites.doopr.com/pledge/pledge-icon.jpg",
			description: "A website that let's you pledge to take an action in the framework for action of community building.",
			locale: "en_US",
			site_name: "Pledge Site"
		});
    }]);
	app.config(function($mdThemingProvider) {
		var color = 'blue';
		$mdThemingProvider.theme('default')
		    .primaryPalette(color)
		    .accentPalette(color);
	});
  </script>
</body>

</html>
